@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: "BeaufortforLOL-Bold";
  src: url("http://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/12420e8c141ca7c3dff41de2d59df13e.woff2")
      format("woff2"),
    /* chrome firefox */ url("../fonts/12420e8c141ca7c3dff41de2d59df13e.woff")
      format("woff"),
    /* chrome firefox */ url("../fonts/12420e8c141ca7c3dff41de2d59df13e.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("http://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.svg#BeaufortforLOL-Bold")
      format("svg"); /* iOS 4.1- */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

:root {
  background-color: #2c2f3e;
  color: rgba(255, 255, 255, 0.87);
}

body {
  font-family: "BeaufortforLOL-Bold";
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
}

.first-blur.modal-blur > *:not(.modal) {
  -webkit-filter: opacity(30%);
}

.font-resp {
  font-size: 6vw;
}
